*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-esquerda{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100vh;
}

.instagram-celular{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.instagram-direita{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.grupo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgrey;
}

.grupo:nth-child(1){
    min-height: 19rem;
    margin-bottom: 1rem;
}

.instagram-logo{
    width: 15rem;
}

.perfil-foto{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem ;
}

.instagram-entrar{
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-sair{
    color: #0095f6;
    margin-top: 1rem;
}

.sem-conta{
    color: rgb(160, 160, 160);
}

.link-azul{
    color: #0095f6;
}

.baixar-o-app{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.app-download{
    height: 2.9rem;
    width: 10rem;
    background-size: cover;
    margin-right: 8px;
}

.app-download:nth-child(1){
    background-image: url(img/apple-button.png);
}

.app-download:nth-child(2){
    background-image: url(img/googleplay-button.png);
}
/* media queries */

@media(max-width: 1024px){
    .instagram-celular{
        display: none;
    }
    .instagram-direita{
        width: auto;
    }
}
@media (max-width: 650px){
    body{
        background-color: #ffffff;
    }
    .instagram-esquerda{
        width: 90%;
    }
    .instagram-celular{
        display: none;
    }
    .instagram-direita{
        width: 100%;
    }
    .grupo{
        border: 1px solid transparent;
    }
}